OPENAI_API_KEY=key
PRIMO_API_HOST=host
PRIMO_API_KEY=key

# openai or azure or amazon
AI_PLATFORM=azure

# Azure
AZURE_OPENAI_API_VERSION=2023-08-01-preview
AZURE_OPENAI_API_BASE=https://$yourresource.openai.azure.com
AZURE_OPENAI_API_KEY=$yourkey
AZURE_OPENAI_API_TYPE=azure
AZURE_OPENAI_API_DEPLOYMENT=gpt-35-turbo
AZURE_OPENAI_API_MODEL_VERSION=0301
AZURE_OPENAI_API_MODEL_NAME=gpt-35-turbo
